.foot{
    padding-top: 10vh;
}
.footer{
    background: #410F57;
    
}
@media only screen and (min-width:720px){
.logo{
    text-align: center;
}
.footer p{
   
    text-align: center;
}
.social p{
    font-size: 1.8rem;
}
.about p{
    font-size: 1.2rem;
    margin-top: 3vh;
}
.contact p{
    font-size: 1.8rem;
}
}
@media only screen and (max-width:719px){
    .foot{
        margin-left: 20vw;
    }
    .social p{
        font-size: 1.8rem;
    }
    .about p{
        font-size: 1.2rem;
        margin-top: 3vh;
    }
    .contact p{
        font-size: 1.8rem;
    }
.social{
    margin-bottom: 15vh;
}
.about{
    margin-bottom: 15vh;
}
.contact{
    padding-bottom: 15vh;
}
}
@media only screen and (min-width:720px){
    .foot{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}