@media only screen and (min-width:1000px){
.whatIsElysiart{
    display: grid;
    padding-top: 10vh;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7vw;
   margin-bottom: 15vh;
}
}
@media only screen and (max-width:999px){
    .whatIsElysiart{
        display:grid;
        grid-template-columns: 1fr;
        margin-bottom: 9vh;
        padding-top: 10vh;
    }
    .landing{
        max-width: 999px;
    }
}
@media only screen and (min-width:1000px){
    .mission{
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7vw;
    margin-bottom: 15vh;
    }
    .missionText{
        margin-right: 3vw;
    }
}
@media only screen and (max-width:999px){
    .mission{
        display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 9vh;
    }
}
.missionText{
    text-align: center;
    margin-top: 5vh;
    margin-left: 12vw;
    margin-right: 9vw;
}
.mission img{
    margin-left: 5vw;
}
@media only screen and (min-width:1026px){
 .slider{
    margin: 0 auto;
    width: 75vw;
 }
 .slider h3{
     margin-left: 5vw;
 }
}
@media only screen and (min-width:901px) and (max-width:1025px){
    .slider{
        margin: 0 auto;
        width: 80vw;

     }
     .slider h3{
        margin-left: 5vw;
    }
}
@media only screen and (min-width:681px) and (max-width:901px){
    .slider{
        margin: 0 auto;
        width: 90vw;
     }
}
@media only screen and (max-width:680px){
    .slider{
       margin-left: 15vw;
       
       width:110vw
     }
     .slider h3{
         margin-left: 25vw;
     }
     .slick-arrow{
         width:50vw
     }
     .landing{
        max-width: 680px;
    }
}
@media only screen and (max-width:400px){
    .slider{
        margin-left: 17vw;
        margin-right: 20vw;
        width:120vw
      }
      .slider h3{
          margin-left: 35vw;
      }
      .slick-arrow{
          width:25vw
      }
      .landing{
        max-width: 400px;
    }
}
@media only screen and (max-width:300px){
    .slick-arrow{
        width: 5vw;
    }
    .landing{
        max-width: 400px;
    }
}

@media only screen and (min-width:1500px) and (max-width:2000px){
    .heroes{
        margin-left: 15vw;
    }
    .heroes h3{
        margin-left: 3vw;
    }
    .heroesImg{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .heroesImg .img{
        width:24vw
    }
    }

    @media only screen and (min-width:1000px) and (max-width:1500px){
        .heroes{
            margin-left: 10vw;
        }
        .heroes h3{
            margin-left: 3vw;
        }
        .heroesImg{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            
        }
        .heroesImg .img{
            width:24vw
        }
        }
        @media only screen and (min-width:721px) and (max-width:999px){
            .heroes{
                text-align: center;
                
            }
            .heroesImg{
                display: grid;
                grid-template-columns: 1fr ;
            }
            .heroesImg .img{
                margin-bottom: 5vh;
            }
        }        
@media only screen and (min-width:501px) and (max-width:720px){
    .heroes{
        text-align: center;
        margin-left: 8vw;
    }
    .heroesImg{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .heroesImg .img{
        margin-bottom: 5vh;
    }
}
@media only screen and (max-width:500px){
    .heroes h3{
        margin-left: 40vw;
    }
    .heroesImg{
        display: grid;
        grid-template-columns: 1fr ;
        margin-left: 15vw;
    }
    .heroesImg .img{
        margin-bottom: 5vh;
    }
    .landing{
        max-width: 500px;
    }
}
@media only screen and (max-width:400px){
 .heroes h3{
     margin-left: 50vw;
 }
}
@media only screen and (min-width:1001px){
    .bottom{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .bottom-button{
        text-align: center;
    }
    .bottom-img{
        text-align: center;
    }
    .bottom-img-img{
        
    }
}
