
#header{
    background:#410F57;
    height:9.6vh;
    width:100%;
    right:0px;
    left:0px;
    border-bottom: 1px solid #410F57;
    
    
  }
  @media only screen and (min-width:1440px){
  #headerOpt{
    display:flex;
    margin-left: 24vw;
  }
  .bars{
    display:none
  }
   #headerItem{
    margin-top: 3vh;
  }
  }
  @media only screen and (min-width:1000px) and (max-width:1440px){
    #headerOpt{
      display:flex;
      margin-left: 12vw;
    }
    .bars{
      display:none
    }
    #headerItem{
      margin-top: 2vh;
    }
    }
    @media only screen and (max-width:999px){

  #headerOpt{
    display:none
  }
  .bars{
    display:block;
   margin-top: 0px;
    padding-top:2vh
  }
    }
@media only screen and (max-width:600px){
  .App{
    margin-right: -30vw;
  }
}

